body {
    background: #111111;
    cursor: none;
}

#bg {
    position: fixed;
    z-index: -1;
    top: -300%;
    left: -150%;
    height: 600%;
    width: 600%;
    -webkit-animation: grain 7s steps(10) infinite;
    animation: grain 7s steps(20) infinite;
    background-image: url(/resources/noise.png);
    background-size: 200px;
    background-repeat: repeat;
    opacity: .25;
}

@keyframes grain {

    0%,
    100% {
        transform: translate(0);
    }

    10% {
        transform: translate(-5%, -10%);
    }

    20% {
        transform: translate(-15%, 5%);
    }

    30% {
        transform: translate(7%, -25%);
    }

    40% {
        transform: translate(-5%, 25%);
    }

    50% {
        transform: translate(-15%, 10%);
    }

    60% {
        transform: translate(15%);
    }

    70% {
        transform: translateY(15%);
    }

    80% {
        transform: translate(3%, 35%);
    }

    90% {
        transform: translate(-10%, 10%);
    }

}

.intro {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 4.5rem;
    color: aliceblue;
    display: inline;
    margin: 1px;
}

#one {
    margin-right: 0%;
}

#two {
    margin-left: 50%;
}


.horizontal {
    display: flex;
    flex-direction: row;
    z-index: 0;
}


#intro-section {
    margin-top: 23%;
    margin-bottom: 22%;
}


#name {
    margin-left: 10%;
    width: 50%;
    display: flex;
    justify-content: center;
}

#fullstack {
    width: 50%;
    display: flex;
    flex-direction: column;
}


#bar {
    width: 100%;
    /* Set the width to 100% to match the parent */
    height: 1.5%;
    background-color: white;
    transform: scaleX(1);
    /* Set the initial scale to 100% */
    transform-origin: left top;
    animation: scaleAnimation 3.5s ease-out forwards;
    /* Apply the animation */
}


@keyframes scaleAnimation {
    from {
        transform: scaleX(0);
        /* Start with zero scale */
    }

    to {
        transform: scaleX(1);
        /* End with full scale */
    }
}


#full {
    color: rgb(255, 105, 68);
    font-weight: 800;
}

#stack {
    color: rgb(255, 206, 43);
    font-weight: 800;
}

#developer {
    color: rgb(136, 247, 237);
    font-weight: 800;

}

.type-machine {
    display: inline-block;
    width: max-content;
}


.introRigth {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 4.5rem;
    color: aliceblue;
    margin: 0px;
    overflow: hidden;
    white-space: nowrap;
    border-right: 5px solid rgba(255, 255, 255, 0.738);
    animation: typing 3.5s,
        border-hide 3.5s ease-in-out 4s forwards,
        cursor 0.5s step-end infinite alternate;
}


@keyframes cursor {
    50% {
        border-color: transparent;
    }
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%;
    }
}


@keyframes border-hide {
    to {
        border-right: 0;
    }
}

#presentation {
    display: flex;
    flex-direction: row;
}


#me {
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    color: aliceblue;
    font-size: 13rem;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}


#about {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: aliceblue;
    font-size: 2rem;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#thatsme {
    width: 50%;
}

#coin {
    width: 50%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}

#coin:hover {
    transform: rotateY(180deg);
}

#film {
    width: 50%;
    height: 100%;
    position: absolute;
    z-index: 2;
    /* background-color: rgba(0, 255, 255, 0.5); */
}


#front {
    width: 100%;
    position: absolute;
    /* margin-left: 10%; */
    min-width: 30%;
    max-width: 100%;
    backface-visibility: hidden;
}

#back {
    position: absolute;
    width: 100%;
    /* margin-left: 10%; */
    min-width: 30%;
    max-width: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

#profilePic,
#reversePic {
    width: 100%;
    border-radius: 1000px;
}

#aux {
    width: 5%
}


.hidden {
    opacity: 0;
    transition: all 3s;
    filter: blur(5px);
    /* transform: translateX(-100%); */
}

@media (prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

.visible {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}


#dot {
    width: 5px;
    height: 5px;
    background-color: rgb(255, 157, 157);
}

#cursor-outline {
    opacity: 0.5;
    width: 70px;
    height: 70px;
    border-radius: 1000px;
    background-color: rgb(255, 255, 255);
}

#dot,
#cursor-outline {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 1000px;
    z-index: 100;
    pointer-events: none;
}