body{
    background: #292929;
}

#bg {
    position: fixed;
    top: -10%;
    left: -10%;
    z-index: -1;
    width: calc(100% + 20%);
    height: calc(100% + 20%);
    background: repeating-linear-gradient(
            #000000,
            #000000 50%,
            #292929 50%,
            #292929 15px
    );
    background-size: 5px 5px;
    filter: url('#noise');
}

.intro {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 4.5rem;
    color: aliceblue;
    display: inline;
    margin: 1px;
}

#one {
    margin-right: 0%;
}

#two {
    margin-left: 50%;
}


#intro-section {
    margin-top: 23%;
    display: flex;
    flex-direction: row;
    z-index: 0;
}

#name {

    margin-left: 10%;
    width: 50%;
    display: flex;
    justify-content: center;
}

#fullstack {
    width: 50%;
    display: flex;
    flex-direction: column;
}


#bar {
    width: 100%;
    /* Set the width to 100% to match the parent */
    height: 1.5%;
    background-color: white;
    transform: scaleX(1);
    /* Set the initial scale to 100% */
    transform-origin: left top;
    animation: scaleAnimation 2s ease-out forwards;
    /* Apply the animation */
}


@keyframes scaleAnimation {
    from {
        transform: scaleX(0);
        /* Start with zero scale */
    }

    to {
        transform: scaleX(1);
        /* End with full scale */
    }
}


#full {
    color: rgb(255, 105, 68);
    font-weight: 800;
}

#stack {
    color: rgb(255, 206, 43);
    font-weight: 800;
}

#developer {
    color: rgb(136, 247, 237);
    font-weight: 800;

}

.type-machine {
    display: inline-block;
    width: max-content;
}


.introRigth {


    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 4.5rem;
    color: aliceblue;
    margin: 0px;
    overflow: hidden;
    white-space: nowrap;
    border-right: 5px solid rgba(255, 255, 255, 0.738);
    animation: typing 3.5s,
    cursor 0.5s step-end infinite alternate;
}


@keyframes cursor {
    50% {
        border-color: transparent;
    }
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%;
    }
}